* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* outline: 1px solid black; */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  --secondaryclr: #ffffff;
  --primaryclr: #184a35;
  --bg-color: #a5c5b7e1;
  color: var(--primaryclr);
}

#profile-header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* margin: 0; */
  margin-top: 5vh;
  height: 90vh;
}

#formm {
  border: 0.25rem solid var(--primaryclr);
  /* background-color: var(--bg-color); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  /* margin-top: 10vh; */
}

#profile {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-input {
  height: 2.5rem;
  width: 18rem;
  margin: 0;
  outline: 0;
  border-bottom: 2px solid var(--primaryclr);
  padding: 0 0.5rem;
  font-size: 1rem;
}

.fullname {
  color: var(--primaryclr);
  /* background-color: black; */
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.7px;
}

.firstname {
  display: none;
}

#form-input {
  background-color: transparent;
  border-bottom: none;
  height: auto;
  padding: 0;
}

#entry-wrap {
  gap: 1rem;
}

#entry-wrap label {
  color: #333;
  width: 10rem;
  font-size: 1rem;
}

#friends,
#logintime {
  color: rgba(0, 0, 255, 0.772);
  font-size: 1rem;
  margin-top: 0.5rem;
}

#entry-wrap input,
#entry-wrap textarea {
  font-size: 1rem;
}

textarea {
  height: auto;
  padding: 0.5rem 0 0 0;
  border: none;
}

#form-labels {
  margin: 1.2rem 0 0 0;
}

#entry-wrap {
  /* flex-direction: row; */
  font-size: 1.5rem;
  gap: 0.5rem;
}
#address {
  /* flex-direction: column; */
  gap: 0;
}

.fullname {
  /* display: none; */
  background-color: var(--bg-color);
  width: 100%;
  padding: 0.5rem;
}

.lastname {
  display: none;
}

#chatbtn {
  display: inline;
  align-items: center;
  vertical-align: middle;
  background-color: var(--primaryclr);
  color: var(--secondaryclr);
  font-size: 1rem;
  width: fit-content;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  font-weight: 500;
}

#chatbtn:hover {
  background-color: var(--bg-color);
  border: 0.1rem solid var(--primaryclr);
  color: black;
  cursor: pointer;
  content: url("assets/chat2.png");
}

#chatbtn img {
  float: left;
  width: 1.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 800px) {
  #formm {
    flex-wrap: wrap-reverse;
    width: 90%;
    margin-top: 12rem;
  }
  #profile-header {
    /* margin: 2rem; */
    width: 90%;
    align-items: center;
    justify-content: center;
    /* margin: auto; */

    /* margin-top: 7vh;
        height:86vh; */
  }
}

@media screen and (max-width: 400px) {
  #profile {
    height: 110px;
    width: 130px;
  }

  #profile-header {
    /* margin: 2rem; */
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  #formm {
    margin-top: 1rem;
  }

  .fullname {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  #entry-wrap {
    flex-direction: column;
    gap: 0;
  }
  #entry-wrap input,
  #entry-wrap label,
  #entry-wrap textarea {
    font-size: 1rem;
  }

  textarea {
    padding: 0;
  }
}
